.main{
    flex-grow: 1;
    height: 100%;
    border-left: 5px solid white;
    overflow: auto;
    max-width: 800px;
    width: 700px;

    background: linear-gradient(rgba(0, 0, 255, 0.452),white,rgba(0, 128, 0, 0.562));

}