.admis{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list_adms{
    width: 90%;

}


table td img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

